<header>
    <nav>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('courses') }}">Course</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('register') }}"> Register </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('login') }}"> Login </a>
            </li>
        </ul>
    </nav>
    <hr style="clear: both" />
</header>
